Write operations

Need to further discuss whether the base network inventory YANG model should support write operations (RW) or not (RO)

See:

- https://mailarchive.ietf.org/arch/msg/inventory-yang/Z6reCPdR3UGbHFl152AhB1_QIvw/
- https://github.com/ietf-ccamp-wg/ietf-network-inventory/issues/95
- https://github.com/ietf-ccamp-wg/ietf-network-inventory/issues/82
- https://github.com/ietf-ccamp-wg/ietf-network-inventory/issues/54


Please note that changing from RO->RW can be BC while changing RW->RO is NBC

See [section 11 of RFC7950](https://datatracker.ietf.org/doc/html/rfc7950#section-11):

```
   o  A node that represented state data may be changed to represent
      configuration, provided it is not mandatory (Section 3).
```